@{
    ViewBag.Title = "About Us";
}

<h2>@ViewBag.Title - The Story of Lovely Living Property Management </h2>

<p>This will be where we write about our orgin story</p>
<p>Who started it - Brief origin story of founder(s)</p>
<p>What we do - Our Services</p>
<p>Why we do it - Our Mission</p>
<p>Maybe some pictures of the facility</p>

<p>We will also include an employee list that will showcase a headshot, a personal biography, and a description of what they do at the company.</p>
<p>Create a table where the headshot is on the left and then you have two sections on the right for the writing.</p>