@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>

@*Float div to left side of screen*@
<div>
    <h5>Feel free to fill out the form below or reach us directly by calling or emailing us. <br /> We look forward to hearing from you!</h5>
    <h5>Direct Support is available Monday through Friday, 8am to 7pm EST</h5>
    <p>Would be nice to implement a submission form</p>
</div>

@*Float div to right side of screen*@
<div>
    <address>
        <p>Would be nice to implement a google map of our location</p>
        Lovely Living Property Management<br />
        123 Main St.<br />
        Fort Wayne, IN 46802<br />
    </address>

    <address>
        <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Phone Number:</strong> 260.123.4567 <br />
        <strong>Toll Free Number:</strong> 800.123.4567<br />
        <strong>Fax:</strong> 800.987.6543
    </address>
</div>