@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>#1 Property Management Company in Fort Wayne</h1>
    <p class="lead">Lovely Living Property Management launched in 2020.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Listings</h2>
        <p>
            Check out all of our listings.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Reviews</h2>
        <p>
            Give us a review or check out reviews by others.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Vendors</h2>
        <p>
            Check out our approved vendors.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>