@{
    ViewBag.Title = "Users";
}

<h2>Application Users</h2>

<p>
    @Html.ActionLink("Get Managers", "GetManagers")
</p>
<p>
    @Html.ActionLink("Get Owners", "GetOwners")
</p>
<p>
    @Html.ActionLink("Get Residents", "GetResidents")
</p>